body {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-image: url(imagens/pack-colher-com-condimentos-copia-espaco_23-2148605271.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  div#form_fundo{
    background-color: #0059bb;
    margin: 15px 35% 15px 35%;
    min-width: 350px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 5px 5px #2f2f3b;
  }
  form {
    width: 10%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  label {
    display: block;
    margin: 1rem 0;
  }
  
  input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    color: whitesmoke;
    background-color: #2f2f3b;
    border: 1px solid #2f2f3b;
  }
  .login {
    margin: 0em auto;
  }

  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 2em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #2f2f3b;
    border-color: white;
    min-width: 300px;
    cursor: pointer;
  }
  a{
    color: #fff;
  }