<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Cadastro Kodegator</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
</head>

<body>
  <h1><img src="../static/imagens/Logo1.png" alt="logo Kodegator"></h1>
  <p>CADASTRE-SE</p>
  <div id='form_fundo'>
    <form method="post" action='/cadastro'>
    <fieldset></fieldset>
    <fieldset>
      <label for="login" class="login">Crie um Login: <input id="login" name="login" type="text"
               required /></label>
      <label for="password" class="senha">Crie uma senha: <input id="password" name="password"
               type="password" pattern="[a-z0-5]{8,}" required /></label>
    </fieldset>
    <input type="submit" name='submit' value="Cadastrar" />
    </form>
  </div>
</body>

</html>