<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos Kodegator</title>
    <link rel="stylesheet" href="../static/css/stylescontato.css">
</head>
<body>
    <header>
        <div class="center">
            <a href="/kodegator"><img src="../static/img/Equipe_kodegator.jpeg"></a>
        </div>
        <h1>Contatos</h1>
    </header>
    <main>
        <section>
            <h2>Relrison de Souza</h2>
            <a href="https://instagram.com/relrisonsouza?igshid=OGQ5ZDc2ODk2ZA=="target="_blank" rel="noopener noreferrer">
                <img src="../static/img/instagram.png" >
            </a>
            <a href="https://www.linkedin.com/in/relrison-de-souza-gon%C3%A7alves-08782b21a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/linkedin_logo_icon_189225.png" >
            </a>
            <a href="https://github.com/Relrison-Souza"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/github.png" >
            </a>
        </section>
        <section>
            <h2>Daniel Rodrigues</h2>
            <div class="inline"> 
            <a href="https://www.instagram.com/danrodriguesxx/"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/instagram.png" >
            </a>
            <a href="https://www.linkedin.com/in/danielrodfonseca/"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/linkedin_logo_icon_189225.png" >
            </a>
            <a href="https://github.com/nielfonseca"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/github.png" >
            </a>
        </section>
        <section>
            <h2>Lucas Rodegheri</h2>
            <div class="inline"> 
            <a href=""target="_blank" rel="noopener noreferrer">
                <img src="../static/img/instagram.png" >
            </a>
            <a href=""target="_blank" rel="noopener noreferrer">
                <img src="../static/img/linkedin_logo_icon_189225.png" >
            </a>
            <a href=""target="_blank" rel="noopener noreferrer">
                <img src="../static/img/github.png" >
            </a>
        </section>
        <section>
            <h2>João Otávio Oliveira Cortes</h2>
            <div class="inline"> 
            <a href="https://www.instagram.com/jaobolinha_/"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/instagram.png" >
            </a>
            <a href="https://www.linkedin.com/in/joão-otávio-oliveira-cortes-91b856216/"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/linkedin_logo_icon_189225.png" >
            </a>
            <a href="https://github.com/JoaoOtavioOCortes"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/github.png" >
            </a>
        </section>
        <section>
            <h2>Rafael Ramos</h2>
            <div class="inline"> 
            <a href="https://www.instagram.com/rafael_ramos.14/"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/instagram.png" >
            </a>
            <a href="www.linkedin.com/in/rafael-silva-927a86229"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/linkedin_logo_icon_189225.png" >
            </a>
            <a href="https://github.com/SilvaCode97"target="_blank" rel="noopener noreferrer">
                <img src="../static/img/github.png" >
            </a>
        </section>
    </main>   
</body>
</html>