<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kodegators Devs</title>
    <link rel="stylesheet" href="../static/css/styleskodegator.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/"> Nosso Restaurante</a>
                </li>
                <li>
                    <a href="/contato">Contato</a>
                </li>
            </ul>
        </nav> 
        <header>
            <div class="center">
                <img src="../static/img/logo-branca-png.png">
            </div>
            <h1>Kodegator Devs</h1>
            <h2>Desenvolvedores</h2>
        </header>
        <main>
            <section>
                <h3>Sobre Nós</h3>
                     <p>
                        Somos uma startup de desenvolvedores formada por alunos do segundo período do curso de Sistemas de informação,
                         no Centro Universitário Geraldo Di Biase. Com o intuito de promover o melhor aprendizado e imersão dos integrantes sobre programação e códigos,
                          tivemos uma ideia de nos juntarmos para poder desenvolver projetos,
                           habilidades e capacidades em equipe, sempre propondo ideias diferentes e com o intuito de buscar os melhores resultados    
                     </p>    
            </section>
            <section>
                <h3>Missão</h3>
                     <p>
                        Buscar o desenvolvimento pessoal e social junto com o aprendizado na area de TI
                     </p>    
            </section>
            <section>
                <h3>integrantes</h3>
                     <p>
                        Daniel Rodrigues,
                        João Otávio Cortes,
                        Lucas Rodegheri,
                        Rafael Ramos e 
                        Relrison de Souza
                     </p>    
            </section>
        </main>
        <footer>
            <a >
                <img src="../static/img/instagram.png">
                <p>Instagram</p>
            </a>
            <a >
                <img src="../static/img/whatsapp.png">
                <p>WhatsApp</p>
            </a>
            <a>
                <img src="../static/img/facebook.png"> 
                <p> Facebook</p>  
            </a>
            
        </footer>
    </div>
</body>
</html>