<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesmenu.css">
    <title>Cardapio</title>
    <style>
        .food-image {
            max-width: 120px;
            max-height: 120px;
        }
    </style>
</head>
<body>
    <div class="header"> 
        <a href="/" class="back-button">Voltar</a>
        <picture>
            <img src="../static/imagens/Logo1.png" alt="Logo dos codajacare">
        </picture>    
    </div>
    <div class="menu">
        <div class="food-column">
            <h2>Comidas</h2>
            <ul>
                {% for food in foods %}
                    <li>
                        <div class="item-content">
                            <div class="item-details">
                                <strong>{{ food['item'] }}</strong>
                                <p>{{ food['description'] }}</p>
                                <p>R${{ food['price'] }}</p>
                            </div>
                            {% if food['image'] %}
                                <img src="{{ url_for('static', filename='uploads/' + food['image']) }}" alt="Food Image">
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="drink-column">
            <h2>Bebidas</h2>
            <ul>
                {% for drink in drinks %}
                    <li>
                        <div class="item-content">
                            <div class="item-details">
                                <strong>{{ drink['item'] }}</strong>
                                <p>{{ drink['description'] }}</p>
                                <p>R${{ drink['price'] }}</p>
                            </div>
                            {% if drink['image'] %}
                                <img src="{{ url_for('static', filename='uploads/' + drink['image']) }}" alt="Drink Image">
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div id="'clear"></div>
        </div>
        <div id="rodape">
            <footer>
                <p>Trabalho desenvolvido pela equipe <a href="/kodegator"> Kodegator Devs </a></p>
            </footer>
        </div>
</body>

</html>
